<launch>   

    <param name="load_frame_num" type="int" value="100"/>
    <param name="skip_frame_num" type="int" value="1"/>
    <param name="distance_threshold" type="double" value="30"/>
    <param name="voxel_leaf_size" type="double" value="0.1"/>
    <param name="motion_corrected" type="bool" value="false"/>

    <param name="to_bag" type="bool" value="false"/>   
    <param name="output_bag_file" type="string" 
        value="/home/gyuseok/catkin_ws_kitti/result_data/distorted_ford_data_"/>  <!-- The datetime is added after this -->
        
    <param name="to_meshlab_ply" type="bool" value="true"/>
    <param name="output_ply_file" type="string"
        value="/home/gyuseok/catkin_ws_kitti/result_data/distorted_"/>

    <node name="ford_mapping" pkg="ford_mapping" type="ford_mapping_temp" output="screen" />
    <include file="$(find ford_mapping)/launch/lidar_convert.launch" />
</launch>